.booking{
	background-color:gray;
	font-size:23px;
	text-align:center;
	color:white;

	
	
	}
.party{
	background-color:gray;
	font-size:23px;
	text-align:center;
	color:white;	

}
.addEvent{
	background-color:green;
	
	
	width:100px;
	height:34px
}
.logout{
	background-color:green;
	font-size:23px;
	float:right;
width:159px;
height:58px;	

	}
	.event1{
	background-color:gray;
	background-position
	font-size:23px;
	color:white;
	position:center;
	float:center

	}
